# Database Configuration
DATABASE_URL=postgresql://user:password@postgres/url_db
REDIS_URL=redis://redis:6379/0
ALLOWED_ORIGINS=*

# URL Construction (Optional: will be derived dynamically if empty)
# API_BASE_URL=http://localhost:8081

# Backend search path
PYTHONPATH=./url_shortener_backend

API_BASE_URL=http://<YOUR_LAPTOP_IP>:8081
