# Python
__pycache__/
.venv/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.lock.bak
*.lock.old

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
